<div class="container">
    <div class="col">
        <div class="card m-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{this.image}}" class="img-fluid" alt="{{this.brand}}" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.brand}}</h5>
                <a href="/detail/{{_id}}" class="btn btn-movie">Reserve</a>
            </div>
        </div>
    </div>
</div>