<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="box__foot">
                    <h4>Information</h4>
                    <ul class="info__legal">
                        <li><a href="">Legal warning</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Política de privacidad</a></li>
                        <li><a href="">Cookies policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="box__foot">
                    <h4>Need help?</h4>
                    <div class="footer__box__btn" style="margin: 25px;">
                        <a href="/contact" style="margin-bottom:5px" class="contact__us">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Contact us
                        </a>
                    </div>
                <ul class="social__media">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f icon"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter icon"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
                    </li>
                    <li>
                </div>
            </div>
            <div class="col">
                <div class="box__foot">
                <h4>Customer Support</h4>
                <h5>Technical assistance for clients</h5>
                <h3>+34 666 656 666</h3>
                <h5>info@IronLuxury.com</h5>
            </div>
        </div>
    </div>
</footer>