<header>
    <nav class="nav__bar">
    <ul class="nav__left">
        <li><a href="/">Home</a></li>
        <li><a href="#">Rent</a></li>
        <li><a href="#">Buy</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>
    <ul class="nav__right">
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </nav>

</header>