<div class="background-error">
    <div class="title__error">
    <h1 style="font-size: 40px;">Ooops, there was an error :(</h1>
    <p style="font-size: 40px;">{{status}}: {{message}}</p>
    </div>
</div>