
<div class="background__con">
    <div class="title__background">
    </div>


    <div class="backgroud__contact">
        <div class="container my-5">
            <div class="row justify-content-center">
            
                <div class="col">
                    <div class="contact__form">
                        <h2 style="color: white;">Contact us</h2>
                        <form action="/contact" method="POST" autocomplete="off">
                            <div class="user__box">
                                <input type="text" name="name" value="" required>
                                <label>Name</label>
                            </div>
                            <div class="user__box">
                                <input type="text" name="email" value=""  required>
                                <label>Email</label>
                            </div>
                            <div class="user__box">
                                <input type="text" name="phone" value="" required>
                                <label>Phone</label>
                            </div>
                            <div class="user__box">
                                <textarea class="textarea" name="message" rows="10" cols="38"  >Message</textarea>
                            </div>
                            <div class="reserve__btn" style="margin: 15px;">
                                <button style="margin-bottom:5px">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Submit
                                </button>
                            </div>
                        </form>
                        
                    </div>

                        <div class="map__div">
                            <div class="location">
                            <h1 >Location</h1>
                            </div>
                                <div>
                                <div id="map"></div>
                                </div>
                        
                        </div>
                        
                        <script src="/js/map.js"></script>
                        <script
                            src="https://maps.googleapis.com/maps/api/js?key={{MAP_KEY}}&callback=initMap&libraries=&v=weekly"
                            async
                        ></script>
                </div>
            </div>
        </div>       
    </div>
</div>
        
        




