<div class="register__login">
<div class="login__box">
    <h2>Login</h2>
    <form>
        <div class="user__box">
            <input type="text" name="email" value="{{user.email}}" required>
            <label>Email</label>
        </div>
        <div class="user__box">
            <input type="password" name="password" value="{{user.password}}" required>
            <label>Password</label>
        </div>
        <button href="#" class="btn__submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign in
        </button>
        {{#if message}}
        <p class="ok__form">{{message}}</p>
        {{/if}}
    </form>
</div>
</div>