<div class="register__login">
   <div class="login__box">
      <h2>Register</h2>
      <form action="/register" method="POST">
         <div class="user__box">
            <input type="text" name="name"  required />
            
            <label>Name</label>
         </div>
         <div class="user__box">
            <input type="email" name="email" required/>
            <label>Email</label>
         </div>
         <div class="user__box">
            <input type="password" name="password" required/>
            <label>Password</label>
         </div>
         <div class="user__box">
            <input type="text" name="dni"  required/>
            <label>DNI</label>
         </div>
         <div class="user__box">
            <input type="text" name="phone"  required/>
            <label>Phone number</label>
         </div>

         <button type="submit" class="btn__submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create account
         </button>

               {{#if errors}}
                <p class=“error”> {{error.message}}</p>
               {{/if}}

      </form>
   </div>
</div>