
<form action="/register" method="POST" class="register">
  
   <label for="text" class="form-label">Name</label>
    <input type="text" name="name" 
    id="username" required>

    <label for="email" class="form-label">Correo electrónico</label>
    <input type="email" name="email"  class="form-control" 
    id="email" required>
  
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password"  id="password"
    required>


    <label for="text" class="form-label">DNI</label>
    <input type="text" name="dni" 
    id="dni" required>

    <label for="text" class="form-label">Phone number</label>
    <input type="number" name="phone" 
     id="phone" required>

     <button type="submit" >Enviar</button>


 
  

  
</form>