<div class="background__rent">
    <div class="title__background">
        <h1>IronLuxury Rental Car</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="/filterCar" method="GET" class="car__search__form">
            <div class="col">
                <div class="box__search">
                    <select class="form-select" name="brand" style="display: inline;">
                        <option disabled selected>Category</option>
                        {{#each models}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="box__search">
                    <select class="form-select" name="price" style="display: inline;">
                        <option disabled selected>Price</option>
                        <option value = "desc">Price High to Low</option>
                        <option value="asc">Price Low to High</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="search__btn" style="margin: 25px;">
                    <button style="margin-bottom:5px">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Search
                    </button>
                </div>
            </div>
       </form>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each cars}}
        <div class="col-4">
            {{>cardBox}}
        </div>
        {{/each}}
    </div>
</div>