<h1>Welcome to the rent car</h1>

<div class="container">
    <div class="row">
        {{#each cars}}
        <div class="col-4">
            {{>cardBox}}
        </div>
        {{/each}}
    </div>
</div>